#chart-container-1 {
  position: relative;
  display: block;
  height: 400px;
  width: 800px;
}

#chart-matrix {
  position: relative;
  display: block;
  height: 580px;
  width: 800px;
}
