#chart-container-1 {
  position: relative;
  display: block;
  width: 100%;
  min-height: 460px;
  height: min(78vh, 620px);
}

/* .chart-line { fill: none; stroke: skyblue; } */
#control-line {
  fill: none;
  stroke: red;
  stroke-dasharray: 4, 2;
  stroke-width: 2px;
}

#median-line {
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
}
