#chart-container-1 {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  max-height: 414px;
}

/* .chart-line { fill: none; stroke: skyblue; } */
#control-line {
  fill: none;
  stroke: red;
  stroke-dasharray: 4, 2;
  stroke-width: 2px;
}

#median-line {
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
}
