.axis-canvas {
  fill: rgb(179, 179, 179);
}

.axis path { stroke-width: 1px; stroke: black;}
.axis .tick line { stroke-width: 1px; stroke: black;}
.axis .tick text { stroke-width: 1px; fill: black;}
.grid {
    fill: none;
    stroke-width: 1px;
    stroke: white;
    stroke-dasharray: 2px;
}

.grid text { display: none; }

.view {
  fill: none;
}

.spinner {
  /* fill: transparent; */
  stroke: gray;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-dasharray: 50.24;
  -webkit-transform-origin: 10px 0px 0;
  -moz-transform-origin: 10px 0px 0;
  -ms-transform-origin: 10px 0px 0;
  -o-transform-origin: 10px 0px 0;
  transform-origin: 10px 0px 0;
  -webkit-animation: spinner 2s linear infinite;
  -moz-animation: spinner 2s linear infinite;
  -ms-animation: spinner 2s linear infinite;
  -o-animation: spinner 2s linear infinite;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 10.56;
  }

  50% {
    transform: rotate(720deg);
    stroke-dashoffset: 50.24;
  }

  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 10.56;
  }
}

.level-select {
  stroke: red;
}

.level-select-handle {
  stroke: red;
  fill: red;
  cursor: pointer;
}

.current-time {
  stroke: red;
}

.current-time-indicator {
  /* stroke:red; */
  fill: red
}

.current-time-indicator:hover>text {
  visibility: visible;
}

.current-time-indicator>text {
  /* stroke:red; */
  visibility: hidden;
  stroke: black;
}
