.axis-canvas {
  fill: rgb(179, 179, 179);
}

.axis path { stroke-width: 1px; stroke: black;}
.axis .tick line { stroke-width: 1px; stroke: black;}
.axis .tick text { stroke-width: 1px; fill: black;}
.grid {
    fill: none;
    stroke-width: 1px;
    stroke: white;
    stroke-dasharray: 2px;
}

.grid text { display: none; }

.view {
  fill: none;
}
