@media only print {

.wb-charts g {
  color: none;
  fill: none;
}

g .axis-canvas  {
  fill: lightgray;
}

.axis path { stroke-width: 1px; stroke: black;}
.axis .tick line { stroke-width: 1px; stroke: black;}
.axis .tick text { stroke-width: 1px; fill: black;}
.grid {
    fill: none;
    stroke-width: 1px;
    stroke: none;
    stroke-dasharray: 2px;
}

.grid text { display: none; }

.charts > path {
  stroke: black;
}

.view {
  fill: none;
}

.level-select {
  stroke: red;
}

.level-select > text {
  stroke: none;
  fill: red;
}

.level-select-handle {
  stroke: red;
  fill: red;
  cursor: pointer;
}

.current-time {
  stroke: red;
}

.current-time-indicator {
  /* stroke:red; */
  fill: red
}

.current-time-indicator>text {
  font-family: sans-serif;
  font-size: 10px;
  visibility: hidden;
  stroke:none;
  fill:black;
}

.dst-indicator {
  fill: orange
}

.dst-indicator:hover>text {
  visibility: visible;
}

.dst-indicator>text {
  font-family: sans-serif;
  font-size: 10px;
  visibility: hidden;
  stroke: none;
  fill: black;
}

}
