.axis path { stroke-width: 1px; stroke: white;}
.axis .tick line { stroke-width: 1px; stroke: white;}
.axis .tick text { stroke-width: 1px; fill: white;}
.grid {
    fill: none;
    stroke-width: 1px;
    stroke: black;
    stroke-dasharray: 2px;
}

.grid text { display: none; }

.view {
  fill: none;
}
